<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-info mr-2" onclick="window.location.href='/'">Home</button>
    <button class="btn btn-info mr-2" onclick="window.location.href='/dashboard'">Dashboard</button>
    <button class="btn btn-secondary" id="logout">logout</button>
</div>
{{#if comms.length}}
{{#each comms as |comm|}}
<div class="post mb-4">
  <div class="row">
    <div class="col-md-10">
      <h3 class="ml-2">{{comm.content}}</h3>
    </div>
    <div class="col-md-2 d-flex flex-column">
      <p class="mb-0 mt-auto">-{{comm.user.username}}, {{format_date comm.date}}</p>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
<div class="col">
        <div>
            <h2 class="page-title text-center">Add a new comment</h2>
            <form class="form comment-form">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <input class="form-control" id="comment">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" data-id="{{post_id}}">Comment</button>
                </div>
            </form>
                  <button class="btn btn-warning mr-2" onclick="window.location.href='/blog/{{post_id}}'">Cancel</button>
        </div>
    </div>