<div class="post row mb-4">
  <div class="col-md-6 title">
    <h2>{{post.title}}</h2>
  </div>
  <div class="col-md-6 d-flex justify-content-end title">
    <p>Posted by: {{post.user.username}} on {{format_date post.date}}</p>
  </div>
  <div class="col">
    <p>
      {{post.content}}
    </p>
  </div>
  <div class="row mr-2 d-flex justify-content-center align-items-end">
    <button class="btn btn-sm btn-ligth" onclick="window.location.href='/comments/{{post.id}}'"><i class="fas fa-comment-dots fa-2x"></i></i></button>
    <p class="mb-2">{{post.commentCount}}</p>
  </div>
</div>
