<div class="d-flex justify-content-end mb-2">
  <button class="btn btn-info mr-2" onclick="window.location.href='/'">Home</button>
  {{#if logged_in}}
  <button class="btn btn-info mr-2" onclick="window.location.href='/dashboard'">Dashboard</button>
  <button class="btn btn-secondary" id="logout">logout</button>
  {{else}}
  <button class="btn btn-secondary" id="log-in" onclick="window.location.href='/login'" >login</button>
  {{/if}}
</div>
<div class="post row mb-4">
  <div class="col-md-6 title">
    <h2>{{post.title}}</h2>
  </div>
  <div class="col-md-6 d-flex justify-content-end title">
    <p>Posted by: {{post.user.username}} on {{format_date post.date}}</p>
  </div>
  <div class="col">
    <p class="post-content">
      {{post.content}}
    </p>
  {{!-- </div>
  <div class="row mr-2 d-flex justify-content-center align-items-end">
    <button class="btn btn-sm btn-ligth" onclick="window.location.href='/comments/{{post.id}}'"><i class="fas fa-comment-dots fa-2x"></i></i></button>
    <p class="mb-2">{{post.commentCount}}</p>
  </div> --}}
  <div class="row">
    <div class="col d-flex justify-content-end align-items-end">
    <button class="btn btn-sm btn-ligth" onclick="window.location.href='/comments/{{post.id}}'"><i class="fas fa-comment-dots fa-2x"></i></i></button>
    <p class="mb-2">{{post.commentCount}}</p>
    <button id="likeBtn" class="btn btn-sm btn-ligth" data-id="{{post.id}}"><i id="heartIcon" class="far fa-heart fa-2x"></i></i></button>
    <p class="mb-2">{{post.likeCount}}</p>
    </div>
  </div>
</div>
